{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <form method="POST"> {% csrf_token %}
            {% for i in form %}
                <div class="form-group">
                    <br>
                    <label class="control-label col-xs-4">{{ i.label_tag }}</label>
                    <div class="col-xs-8 mt-2">
                        {{ i }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary mt-4">Take back</button>
        </form>

    {% if form.errors %}
        {% for field, error_message in form.errors.items %}
            <h1>{{ field }}: {{ error_message }}</h1>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}